@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|PT+Sans:400,700');

body {
    background-color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    border: #FFFFFF 0px solid;
}

/* ^^^ SEE CLASS "outer-background" BELOW */




/* DEFAULTS - MARGINS SPACING */

div {
    margin: 0;
    padding: 0;
    border: 0;
}

table,
tr,
td {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    border: 0;
}




/* DEFAULTS - ALIGNMENT */

.td-right {
    text-align: right;
}

.td-left {
    text-align: left;
}

.td-center {
    text-align: center;
}

.td-top {
    vertical-align: top;
}

.td-middle {
    vertical-align: middle;
}

.td-bottom {
    vertical-align: bottom;
}

.center-align {
    text-align: center;
}

.center-div {
    margin-left: auto;
    margin-right: auto;
}

.right-div {
    margin-left: auto;
    margin-right: 0;
}

.left-div {
    margin-left: 0;
    margin-right: auto;
}




/* DEFAULTS - MISC */

.fullwidth {
    width: 100%;
}

.halfwidth {
    width: 50%;
}

.nobreak {
    white-space: nowrap;
}

.just {
    text-align: justify;
}

img {
    border: 0;
}

.blockimage {
    display: block;
}

.formmargin {
    margin: 0px;
}




/* NON-MENU LINK COLORS */

a:link,
a:visited,
a:active {
    color: #0079D1;
    text-decoration: none;
}

a:hover {
    color: #23A5EF;
    text-decoration: underline;
}




/* THE NEXT LINE CONTROLS THE FONT SIZE ON ALL PAGES */

body,
div,
table {
    color: #2F5570;
    font-family: "Open Sans", arial, helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 160%;
}

.title {
    color: #536B78;
    font: 26px "PT Sans", arial, sans-serif;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: normal;
}

.subtitle {
    color: #000000;
    font: 17px "PT Sans", arial, sans-serif;
    font-weight: bold;
    line-height: normal;
}

.smalltext {
    color: #777777;
    font: 13px "PT Sans", arial, sans-serif;
    font-weight: normal;
    padding-bottom: 5px;
    line-height: normal;
}

.testimonial,
.vet-friendly-company a {
    color: #990000;
    font-family: "PT Sans", arial, helvetica, sans-serif;
    font-weight: bold;
}

.hilite {
    color: #FF0000;
}




/* REMOVES MARGINS ON HEADING TAGS (FOR SEO) */

h1,
h2,
h3,
h4 {
    margin: 0px 0px 1px 0px;
}




/* LISTS */

.list {
    font-size: 15px;
    /* color: #660000; */
    line-height: normal;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.5;
}

.floatlist {
    float: left;
    width: 100%;
    min-width: 200px;
}

.list li {
    text-indent: 1px;
    padding-bottom: 10px;
}




/* PAGE & CONTENT HEIGHTS AND WIDTHS & PADDING */

/* NOTE: IF YOU CHANGE THE PAGE WIDTHS EDIT & TEST THE MEDIA QUERIES IN THE media-queries.css */

.pageheight {
    min-height: 750px;
}

.pagewrapper {
    width: 100%;
    min-width: 319px;
    text-align: center;
    margin: 0 auto;
}

.pagebox {
    padding: 0px 10px 0px 10px;
    margin: 0 auto;
}

#contentbox {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 0px 10px 0px;
}

.content-pad {
    padding: 0px 35px 10px 15px;
}

#left-content {
    float: left;
    width: 100%;
    max-width: 705px;
    padding: 0px;
}

/* HOME PAGE WIDTHS */

#contentbox-home {
    max-width: 1000px;
    margin: 0 auto;
    padding: 12px 0px 15px 0px;
}

.content-pad-home {
    padding: 25px 15px 25px 15px;
}




/* TEXT AND GRAPHIC HEADER CODE */

#headerdiv {
    padding: 15px 0px 15px 0px;
    margin: 0px 0px 0px 0px;
    border: #000000 0px solid;
}

.headercolor {
    background-color: #FFFFFF;
}

/* EDIT .pagebox PADDING TO 0 ABOVE FOR FULL WIDTH */

.logo-respond {
    max-width: 600px;
    height: 100px;
    min-width: 280px;
    margin: 0 auto;
    display: block;
}

/* START TEXT HEADER CODE */

.textlogo {
    font: normal 30px "Open Sans", arial, sans-serif;
    padding: 4px 0px 6px 0px;
    display: block;
}

a.textlogo:link,
a.textlogo:visited,
a.textlogo:active {
    color: #000000;
    text-decoration: none;
}

a.textlogo:hover {
    color: #000000;
    text-decoration: none;
}




/* HEADER ICON */

.header-ico1 {
    width: 40px;
    height: 40px;
    background-color: transparent;
    opacity: 0.4;
    text-align: center;
    position: absolute;
    right: 12px;
    top: 12px;
    border: transparent 0px solid;
    /* CORNER ROUNDING */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

.ico1-img {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
}

/* HOVER COLOR HEADER ICON */

.icohov:hover {
    background-color: transparent;
    opacity: 1.0;
    border: #B7C1C6 0px solid;
}




/* INNER AND OUTER BACKGROUNDS */

.outer-background {
    background-color: #FFFFFF;
    background-image: none;
    background-repeat: repeat;
    background-attachment: fixed;
}

.inner-background {
    background-color: transparent;
    border: #000000 0px solid;
}




/* IMAGE BORDERS, FLOATS AND IMAGE SPACING */

.img-borders {
    border: #000000 1px solid;
}

.img-float {
    float: left;
    margin: 3px 8px 1px 0px;
}

.float-item {
    float: left;
    margin-right: 10px;
    margin-bottom: 2px;
}

.text-nowrap {
    overflow: hidden;
    min-width: 175px;
}

.divclear {
    height: 1px;
    clear: both;
    font-size: 1px;
    line-height: 1px;
    padding: 0px;
    margin: 0px;
}




/* PAGE LINES & BORDERS */

.page-splits {
    line-height: 1px;
    font-size: 1px;
    height: 2px;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    border-top: #C6CCD5 1px solid;
}

.splits-xtramargin {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* LARGE PAGE SPLITS */

.large-splits {
    width: 99%;
    line-height: 1px;
    font-size: 1px;
    height: 25px;
    background-color: #ECEEF1;
    margin: 0 auto;
    padding: 0px;
    border: #C6CCD5 1px solid;
}




/* HOME PAGE */

.homelinks {
    color: #73879C;
}

.home-caption {
    color: #5E7287;
    font: 16px "Open Sans", arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    padding: 10px 0px 20px 0px;
}




/* HOME JQUERY SLIDESHOW (SEE ALSO responsive-slides.css IN FOLDER JQuery) */

.rslides_container {
    background-color: #CCCCCC;
    max-width: 1002px;
    /* INCLUDES BORDER */
    min-width: 250px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: solid #FFFFFF;
    border-width: 0px 1px 0px 1px;
    /* NOTE: BORDERs ABOVE ARE | top | right | bottom | left */
    /* CORNER ROUNDING */
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
}

#homeJQ>.centered-btns_nav {
    display: none;
}

/* HIDES HOME ARROWS */

/* HOME SLIDESHOW ROUND ACTIVE BUTTON STYLES */

.centered-btns_tabs {
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0px;
    margin: 0 auto;
    text-align: center;
    z-index: 1000;
    background-color: transparent;
}

/* NORMAL BUTTON STATE */

.centered-btns_tabs a {
    width: 20px;
    height: 10px;
    background-color: transparent;
    border: #FFFFFF 2px solid;
    /* CORNER ROUNDING */
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin: 0px 4px 0px 4px;
}

/* HOVER BUTTON STATE */

.centered-btns_tabs a:hover {
    background-color: #FFFFFF;
    border: #FFFFFF 2px solid;
}

/* ACTIVE BUTTON STATE */

.centered-btns_here a,
.centered-btns_here a:hover {
    background-color: #2EFF5C;
    border: #2EFF5C 2px solid;
    cursor: default;
    color: #0064ad;
}

/* BACKGROUND FOR HOME JQUERY & IMAGE */

.homeimage-bg {
    padding-top: 0px;
    background: #D8DDE0;
    background: -webkit-linear-gradient(#B7C1C6, #FFFFFF);
    background: -o-linear-gradient(#B7C1C6, #FFFFFF);
    background: -moz-linear-gradient(#B7C1C6, #FFFFFF);
    background: linear-gradient(#B7C1C6, #FFFFFF);
    border: solid #B7C1C6;
    border-width: 0px 0px 0px 0px;
    /* NOTE: BORDERs ABOVE ARE | top | right | bottom | left */
}




/* FOR OPTIONAL HOME PAGE IMAGE */

.homeimage {
    width: 100%;
    display: block;
}

.homeimage-border {
    max-width: 1002px;
    min-width: 250px;
    margin: 0 auto;
    box-sizing: border-box;
    border: solid #FFFFFF;
    border-width: 0px 1px 0px 1px;
    /* NOTE: BORDERs ABOVE ARE | top | right | bottom | left */
    /* CORNER ROUNDING */
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
}




/* RIGHT SIDEBAR */

#sidebar-content {
    float: left;
    width: 100%;
    max-width: 280px;
    padding: 0px;
    border-left: #C6CCD5 1px solid;
}

.sidebar-pad {
    padding: 0px 0px 10px 35px;
}

.sidebar-textarea {
    text-align: left;
    width: 235px;
    margin: 0 auto;
    padding: 0px 0px 10px 0px;
    border: solid #C6CCD5;
    border-width: 0px 0px 1px 0px;
    /* NOTE: BORDERs ABOVE ARE | top | right | bottom | left */
}

.sidebar-text {
    color: #72767F;
    font: 13px "PT Sans", arial, sans-serif;
    text-align: left;
    font-weight: normal;
    line-height: normal;
}

.sidebar-title {
    color: #FFFFFF;
    font: 18px "Open Sans", arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    background-color: #536B78;
    padding: 8px 5px 9px 6px;
    margin: 0px auto 7px auto;
    /* CORNER ROUNDING */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

.sidebar-image {
    display: block;
    margin: 0px auto 15px auto;
    border: solid #536B78;
    border-width: 4px 0px 4px 0px;
    /* NOTE: BORDERs ABOVE ARE | top | right | bottom | left */
    /* CORNER ROUNDING */
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
}

.side-links {
    padding: 10px 0px 10px 0px;
    margin: 0px;
}

.side-links a {
    font: 15px "PT Sans", arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    display: block;
    padding: 6px 0px 6px 10px;
    border: dashed #38A2C9;
    border-width: 0px 0px 1px 0px;
    /* NOTE: BORDERs ABOVE ARE | top | right | bottom | left */
}

.side-links a:first-child {
    border-width: 1px 0px 1px 0px;
}




/* FOOTER */

.footer-splits {
    color: #FFFFFF;
    height: 15px;
    line-height: normal;
    background-color: #536B78;
    margin: 0px auto 0px auto;
    padding: 0px;
    border: solid #6F8B9B;
    border-width: 0px 0px 0px 0px;
}

#FooterFRM {
    visibility: visible;
}

.footer-frame {
    display: block;
    width: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

.footer-height {
    height: 190px;
}

.footer-page {
    background-color: #415966;
    margin: 0px;
    padding: 0px;
    background-image: none;
}

.footer-page,
.footer-page div,
.footer-page table {
    color: #FFFFFF;
}

.footer-pad {
    padding: 10px 10px 10px 10px;
}

.footer-border {
    border: solid #000000;
    border-width: 0px 0px 0px 0px;
    /* NOTE: BORDERs ABOVE ARE | top | right | bottom | left */
}

div.footer-title {
    color: #FFFFFF;
    font: 20px "Open Sans", arial, sans-serif;
    font-weight: normal;
    padding-bottom: 5px;
    margin-bottom: 3px;
    border-bottom: #6F8B9B 0px solid;
}

table.footer-links td {
    padding: 5px 30px 5px 30px;
    border-right: #6F8B9B 0px solid;
}

.footer-image {
    margin: 45px 10px 3px 10px;
    border: #6F8B9B 5px solid;
}

.footer-image-table {
    margin-left: 20px;
}

.footer-links {
    font-size: 15px;
    line-height: 33px;
}

.footer-social {
    width: 180px;
    padding-left: 10px;
}

.footerlinks-1 {
    width: 33%;
}

.footerlinks-2 {
    width: 33%;
}

.footerlinks-3 {
    width: 33%;
}

.html5-icon {
    margin-top: 12px;
    margin-bottom: 8px;
}

.footer-copyright {
    color: #FFFFFF;
    font: 12px "PT Sans", arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    padding: 14px 0px 14px 0px;
    margin: 0px 0px 0px 0px;
    background-color: #536B78;
    border: solid #6F8B9B;
    border-width: 0px 0px 0px 0px;
    /* NOTE: BORDERs ABOVE ARE | top | right | bottom | left */
}


/* FOOTER LINK COLORS */

body.footer-page a:link,
body.footer-page a:visited,
body.footer-page a:active {
    color: #D7DCDF;
    text-decoration: none;
    white-space: nowrap;
}

body.footer-page a:hover {
    color: #FFFFFF;
    text-decoration: none;
    white-space: nowrap;
}


/* COPYRIGHT LINK COLORS */

div.footer-copyright a:link,
div.footer-copyright a:visited,
div.footer-copyright a:active {
    color: #DCEAF4;
    text-decoration: none;
}

div.footer-copyright a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}




/* SOCIAL ICONS (SEE ALSO .footer-social ABOVE) */

.socialspace {
    padding-left: 1px;
    padding-right: 1px;
}

.socialRspace {
    width: 0px;
}

.socialicon {
    border: transparent 1px solid;
    display: block;
    background-color: #415966;
    /* CORNER ROUNDING */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}

.socialicon:hover {
    border: #6F8B9B 1px solid;
    background-color: #6F8B9B;
}

.mobile-social {
    display: none;
}




/* CONTACT PAGE CODE */

.contact-pad {
    padding: 15px 0px 15px 0px;
}

.contact-select {
    color: #006699;
    font-weight: normal;
}

.contactform-table {
    margin: 20px 0px 10px 50px;
}

table.contactform-table td {
    padding: 1px 0px 1px 0px;
}

input[type=submit].submitbutton,
input[type=reset].submitbutton {
    color: #FFFFFF;
    font: bold 12px arial, sans-serif;
    text-align: center;
    background-color: #004C76;
    -webkit-appearance: none;
    padding: 12px 8px 12px 8px;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    width: 120px;
    border: #004C76 1px solid;
    /* CORNER ROUNDING */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

input[type=submit].submitbutton:hover,
input[type=reset].submitbutton:hover {
    color: #FFFFFF;
    background-color: #5E7287;
    border: #5E7287 1px solid;
}

.shadeform {
    font: 13px arial, sans-serif;
    color: #000000;
    background-color: #FFFFFF;
    background-image: url("../images/shadeform.png");
    text-align: left;
    width: 200px;
    border: #8DB1D3 1px solid;
}

.textarea {
    font: 13px arial, sans-serif;
    background-color: #FFFFFF;
    color: #000000;
    background-image: url("../images/shadeform.png");
    text-align: left;
    width: 250px;
    height: 150px;
    border: #8DB1D3 1px solid;
}

.dropdown {
    font: 13px arial, sans-serif;
    background-color: #FFFFFF;
    color: #000000;
    width: 225px;
}




/* CONTACT PAGE GOOGLE MAP & DIRECTIONS */

#map-canvas {
    width: 235px;
    height: 160px;
}


/* CONTACT PAGE GOOGLE DIRECTIONS */

.directions {
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    padding: 8px 0px 5px 0px;
}

.directions .shadeform {
    width: 233px;
    margin: 0px 0px 5px 0px;
}

input[type=submit].directionbutton {
    width: 235px;
}


/* OPTIONAL No-Form-contact.html PAGE */

.no-formmargin {
    margin: 25px 0px 25px 0px;
}




/* LINKS PAGE CODE */

table.searcharea td {
    padding: 0px 3px 0px 0px;
}

.searcharea {
    margin: 18px 0px 18px 0px;
}

.searchform {
    color: #000000;
    font: 12px arial, sans-serif;
    text-align: left;
    background-color: #FFFFFF;
    background-image: url("../images/shadeform.png");
    width: 110px;
    border: #8DB1D3 1px solid;
}

.searchbutton {
    color: #FFFFFF;
    font: bold 12px arial, sans-serif;
    text-align: center;
    background-color: #5E7287;
    -webkit-appearance: none;
    height: 21px;
    margin-top: 0px;
    cursor: pointer;
    border: #5E7287 1px solid;
    /* CORNER ROUNDING */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}




/* PAYPAL payments.htm PAYMENT PAGE CODE */

.payform {
    width: 150px;
}

input[type=submit].payform {
    width: 152px;
    margin-bottom: 10px;
}

.payformbox {
    margin: 0 auto;
    background-color: #ECEEF1;
    border: #C6CCD5 1px solid;
}

.paypaltable td {
    vertical-align: middle;
    padding: 6px 10px 6px 10px;
}

.paypalbadge-space {
    padding: 30px 10px 8px 0px;
}




/* PDF PAGE */

.pdf-icon {
    margin: 10px 0px 0px 15px;
}



/* STAFF PAGE */

.staff-email {
    color: #CC9900;
    font-family: "PT Sans", arial, sans-serif;
    font-weight: bold;
    line-height: normal;
    margin: 7px 0px 0px 0px;
    padding: 5px 0px 0px 0px;
    border-top: #CC9900 1px solid;
}




/* HIDE MENU AND ITEMS FOR PRINTING */

@media print {
    .printhide {
        display: none;
    }

    .pageheight {
        min-height: 50px;
    }
}

@media screen {
    .printonly {
        display: none;
    }
}




/* START THE CODE FOR THE MENU */

/* EDIT .pagebox PADDING TO 0 ABOVE FOR FULL WIDTH */

#menudiv a {
    outline: none;
}

#menudiv {
    position: relative;
    padding: 2px 0px 2px 0px;
    margin: 0px auto 0px auto;
    border: #000000 solid;
    border-width: 0px 0px 0px 0px;
}

/* MENU BACKGROUND COLOR & OUTER RADIUS */

#menudiv,
#menusub {
    background-color: #536B78;
    /* CORNER ROUNDING */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}

/* MENU WIDTH, PADDING, FONT FACE & COLOR */

#menusub a {
    color: #FFFFFF;
    font-family: "Open Sans", arial, helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    padding: 20px 15px 20px 15px;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    background-color: transparent;
    display: inline-block;
    border: #999999 solid;
    border-width: 0px 0px 0px 0px;
    /* MENU FADE UP */
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s;
    *display: inline;
    /* For IE */
    *zoom: 1;
    /* For IE */
}


/* BORDERS FIRST MENU LINK */

#menusub a:first-child {
    border-width: 0px 0px 0px 0px;
}


/* MENU HOVER COLORS */

#menusub a:hover {
    color: #FFFFFF;
    background-color: #1091FF;
    text-decoration: none;
}


/* MOBILE MENU ICON - SEE ALSO media-queries.css FOR MORE MOBILE COLORS AND FONTS!! */

#mobile-menu-icon {
    cursor: pointer;
    display: none;
    text-align: center;
    padding: 5px 0px 5px 5px;
}

.menu-icon-img {
    display: block;
    margin: 0px auto 0px 0px;
}




/* RIGHT SCROLL TO TOP ARROW */

.scrollToTop {
    width: 36px;
    height: 36px;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 60px;
    right: 10px;
    display: none;
    background: #536B78 url('../images/arrow-up-white.png') no-repeat 0px 0px;
}

.scrollToTop:hover {
    text-decoration: none;
    background: #000000 url('../images/arrow-up-white.png') no-repeat 0px 0px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}