/* Set height to 100% for page elements */
html,
body,
.container {
    height: 100%;
}

/* Background image for page */
html {
    background: url(../images/american-flag-background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Center content in container on page */
.container {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

#comingSoonMessage {
    font-size: 5em;
    text-shadow: 1px 1px 1px #fff;
    text-align: center;
}